.react-datepicker 
{
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.react-datepicker__input-container input 
{
    width: 130px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;
    color: #A9A9B0;
  
}

.react-datepicker__day--selected 
{
    background-color: #428bca;
    color: #fff;
    /* left: -255%;
    top: 327%; */
}
  
.react-datepicker__day
{
    padding: 10px;
    cursor: pointer;
}

.Date img 
{
    width: 10px;
    height: 10px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
}