.A h1{
    position: absolute;
    width: 1000px;
    height: 36px;
    left: 224px;
    top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #7E7D88;
}
.A img{
    padding:0 10px;
    margin: 2px 10px;
}
.A .TB{
    font-size: 20px;
    font-weight: 500;
    color: #7E7D88;
    padding-right: 8px;
}
.A a{
    text-decoration: none;
    color: #FF9138;
}
.A h2 {
    position: absolute;
    width: 169px;
    height: 36px;
    left: 225px;
    top: 104px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.DetailEqui {
    position: absolute;
    width: 1112px;
    height: 604px;
    left: 224px;
    top: 156px;
    background: white;
    box-shadow: 2px 2px 8px rgba(114, 120, 124, 0.8);
    border-radius: 16px;
}
.DetailText label {
    position: absolute;
    width: 160px;
    height: 30px;
    left: 24px;
    top: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;

}
.DetailEquiR {
    position: absolute;
    width: 178px;
    height: 24px;
    left: 24px;
    top: 66px;

}
.DetailEquiL {
    position: absolute;
    width: 197px;
    height: 24px;
    left: 568px;
    top: 66px;
}

.Text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    align-items: center;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 150%;
}

.DetailText  {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    line-height: 10px;
    align-items: center;
    color: #535261;
    width: 150%;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.DetailS {
    position: absolute;
    width: 795px;
    height: 56px;
    left: 24px;
    top: 201px;
}

.DetailTexts {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #535261;
}
.UpdateEqui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    position: absolute;
    width: 108px;
    height: 118px;
    left: 1340px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.UpdateEqui img {
    width: 40px;
    height: 40px;
}

.UpdateEqui a {
    width: 72px;
    height: 38px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    text-decoration: none;
}
.TextDetail{
    display: flex;
    width: 50%;
}
.TextDetails {
    display: flex;
    width: 50%;
}
.Green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4277FF;
    /* margin: 18px 10px; */
    position: absolute;
    left: 148px;
}
.Return 
{
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1369px;
    top: 27px;
    padding: 12px 4px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 20px 5px 5px 20px;
}

.Return img 
{
    width: 35px;
    height: 33px;
}

.Return a 
{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 72px;
    height: 38px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    text-decoration: none;
}

