.TableInfor {
    position: absolute;
    box-shadow: 0px 2px 6px rgba(163, 133, 133, 0.5);
    border-radius: 20px;
    width: 1125px;
    height: 400px;
    top: 168px;
    left: 225px;
    background: #FFFFFF;
}
.BoxContentsLeft {
    /* noi dung ben trai */
    width: 40%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-left: 24px;
    margin-top: 29px;
    line-height: 30px;
    color: #FF9138;
}
.AvatarBig img {
    /* phần hình ảnh đại diện lớn */
    position: absolute;
    border-radius: 350px;
    width: 248px;
    height: 248px;
    top: 40px;
    left: 24px;
}

.InconCamera img {
    /* phần hình ảnh camera lớn */
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 246px;
    left: 195px;
}

.MyName p {
     /* phần tên */
    position: absolute;
    width: 186px;
    height: 36px;
    left: 55px;
    top: 307px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #282739;
}

.BoxInforLeft {
    /* phần bên trái */
    position: absolute;
    width: 320px;
    height: 44px;
    left: 296px;
    top: 40px;
}

.BoxInforLeft Input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EAEAEC;
    border-radius: 6px;
}

.BoxInforRight {
    /* phần bên phải */
    position: absolute;
    width: 384px;
    height: 90px;
    left: 704px;
    top: 40px;
}

.BoxInforRight Input {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #EAEAEC;
    border-radius: 6px;
}


