.MenuListBar {
    /* position: absolute; */
    box-shadow: 0px 4px 6px rgba(180, 151, 151, 0.5);
    border-radius: 16px 0px 0px 16px;
    height: 843px;
    width: 203px;
    top: 0px;
    left: 0px;
    background: #FFFFFF;
}

.ALogo img{
    /* phần hình logo */
    position: absolute;
    width: 80px;
    height: 64px;
    left: 60px;
    top: 32px;
}

.MenuBar img {
    /* phần toàn bộ hình trong menubar */
    position: absolute;
    margin-left: 16px;
    margin-top: 4px;
    height: 20px;
    width: 20px;
    left: -4px;
}



.MenuBar a {
    /* phần toàn thẻ a trong menubar */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-left: 42px;
    line-height: 24px;
    color: #7d7979;
}
.ItemDashBoard a {
    text-decoration: none;
    margin-left: 40px;
}

.ItemDashBoard {
    /* phần dashboard trong menubar */
    position: absolute;
    width: 200px;
    height: 48px;
    top: 150px;
    left: 0px;
    
    
}
.ItemDashBoard:hover {
    background-color: #FFF2E7;
    left: 3px;
}

.ItemDashBoard:hover a  {
    color: orange;
}


.ItemThiebi {
     /* phần thietbi trong menubar */
    position: absolute;
    width: 200px;
    height: 48px;
    top: 204px;
    left: 0px;
    
} 

.ItemThiebi:hover{
    background-color: #FFF2E7;
    left: 4px;
    
}
.ItemThiebi:hover a  {
    color: orange;
}

.ItemThiebi a {
    text-decoration: none;
    margin-left: 40px;
}

.ItemDichvu {
    position: absolute;
    width: 200px;
    height: 48px;
    top: 258px;
    left: 0px;
} 
.ItemDichvu:hover{
    background-color: #FFF2E7;
    left: 3px;
}
.ItemDichvu  a {
    text-decoration: none;
    margin-left: 40px;
}
.ItemDichvu:hover a  {
    color: orange;
}
.ItemCapso {
     /* phần capso trong menubar */
    position: absolute;
    width: 200px;
    height: 48px;
    top: 312px;
    left: 0px;
}
.ItemCapso:hover{
    background-color: #FFF2E7;
    left: 3px;
}
.ItemCapso a {
    text-decoration: none;
    margin-left: 20px;
}
.ItemCapso:hover a  {
    color: orange;
}
.ItemBaocao {
     /* phần baocao trong menubar */
    position: absolute;
    width: 200px;
    height: 48px;
    top: 366px;
    left: 0px;
}
.ItemBaocao  a {
    text-decoration: none;
    margin-left: 20px;
}
.ItemBaocao:hover{
    background-color: #FFF2E7;
    left: 3px;
}
.ItemBaocao:hover a  {
    color: orange;
}
.ItemCaidat {
     /* phần caidat trong menubar */
    position: absolute;
    width: 200px;
    height: 48px;
    left: 0px;
    top: 420px;
}
.ItemCaidat a {
    text-decoration: none;
    margin-left: 20px;
}
.ItemCaidat:hover{
    background-color: #FFF2E7;
    left: 3px;
    
}
.ItemCaidat:hover a  {
    color: orange;
}
.DetailEqui8 {
    position: absolute;
    width: 181px;
    height: 73px;
    left: 3px;
    top: 48px;
    background: white;
    border-radius: 16px ;
    box-shadow: 2px 2px 8px rgba(248, 248, 248, 0.8);
   opacity: 0;
   filter: alpha(opacity=50);
   border: 1px solid #FFC89B
}
.DetailEqui8:hover {
    opacity: 1.0; 
     filter: alpha(opacity=100);
}
.DetailEqui8 a {
    text-decoration: none;
}
.L1:hover{
    background-color: #FFF2E7;
}
.L2:hover{
    background-color: #FFF2E7;
}
.L3:hover{
    background-color: #FFF2E7;
}
.BtnLogout button {
     /* phần button logout trong menubar */
    position: absolute;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 170px;
    height: 49px;
    top: 725px;
    left: 12px;
    background: #FFF2E7;
    border-color: #FF7506;
    color: #FF7506;
}